body{
	padding: 0px;
	background-color: ;
}

/*----Header-----*/
header{
	height: 200px;
	background-color: #0F402A;
  border-radius: 5px;
}

#imgLogo{
	height: 200px;
}

#textoLogo{
	color: white;
	height: 200px;
	padding-left: 50px;
	font-size: 180px;
	padding-top: 90px;
}

#contendorPrincipal{
	margin-top: 30px;
}

#tituloInfoInicial{
  font-size: 30px;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
}

.textInfoInicio{
  font-size: 20px;
  text-align: justify;
  color: black;
  line-height: 25px;
  text-indent: 50px;
  word-spacing: 3px;
}

#infoInicio{
  display: inline;
}

/*----------INICIO DE PESTAÑA REOS-------------*/
#reoInicio{
  color: black; 
  display: none;
}

#buttonReo1{
  padding-top: 150px;
}

#buttonReo2{
  padding-top: 20px;
}

#buttonBuscarReo{
  text-align: center;
  float: right;
  width: 70%;
  height: 30px;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #454645;
  color: white;
  border: inset black 3px; 
  text-decoration: none;
  padding-top: 15px;
}

#buttonBuscarReo:hover{
  background-color: #787978;
  border: outset black 3px;
}

#buttonModificarReo{
  text-align: center;
  float: right;
  width: 70%;
  height: 30px;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #454645;
  color: white;
  border: inset black 3px; 
  text-decoration: none;
  padding-top: 15px; 
}

#buttonModificarReo:hover{
  background-color: #787978;
  border: outset black 3px;
}

#buttonAltaReo{
  text-align: center;
  float: left;
  width: 70%;
  height: 30px;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #454645;
  color: white;
  border: inset black 3px; 
  text-decoration: none;
  padding-top: 15px;
}

#buttonAltaReo:hover{
  background-color: #787978;
  border: outset black 3px;
}

#buttonBajaReo{
  text-align: center;
  float: left;
  width: 70%;
  height: 30px;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #454645;
  color: white;
  border: inset black 3px; 
  text-decoration: none;
  padding-top: 15px; 
}

#buttonBajaReo:hover{
  background-color: #787978;
  border: outset black 3px;
}

/*------------BUSQUEDA DE REOS---------*/
#reoBusqueda{
  color: black;
  display: none;
}

#buscadorReo{
  padding-top: 30px;
}

#datosBusquedaReo{
  display: none;
}

/*---------------ALTA REOS------------*/
#reoAlta{
  color: black;
  display: none;
}

#formularioAltaReo{
  padding-top: 30px;
  padding-left: 50px;
}

/*-------------MODIFICAR REO------------*/
#reoModificacion{
  color: black;
  display:none;
}

#formularioModificacionReo{
  display: none;
}

/*---------------BAJA REO---------------*/
#reoBaja{
  color: black;
  display: none;
}

#datosBajaReo{
  display: none;
}

/*----------INICIO DE PESTAÑA POLICIAS-------------*/
#policiaInicio{
  color: black; 
  display: none;
}

#buttonPolicia1{
  padding-top: 150px;
}

#buttonEfectivosPolicia{
  text-align: center;
  float: right;
  width: 70%;
  height: 30px;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #454645;
  color: white;
  border: inset black 3px; 
  text-decoration: none;
  padding-top: 15px;
}

#buttonEfectivosPolicia:hover{
  background-color: #787978;
  border: outset black 3px;
}

#buttonAdministrativoPolicia{
  text-align: center;
  float: left;
  width: 70%;
  height: 30px;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #454645;
  color: white;
  border: inset black 3px; 
  text-decoration: none;
  padding-top: 15px;
}

#buttonAdministrativoPolicia:hover{
  background-color: #787978;
  border: outset black 3px;
}

/*---------POLICIAS EFECTIVOS--------------*/
#policiaEfectivoInicio{
  color: black; 
  display: none;
}

#buttonEfectivoPolicia1{
  padding-top: 150px;
}

#buttonEfectivoPolicia2{
  padding-top: 20px;
}

#buttonBuscarEfectivoPolicia{
  text-align: center;
  float: right;
  width: 70%;
  height: 30px;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #454645;
  color: white;
  border: inset black 3px; 
  text-decoration: none;
  padding-top: 15px;
}

#buttonBuscarEfectivoPolicia:hover{
  background-color: #787978;
  border: outset black 3px;
}

#buttonModificarEfectivoPolicia{
  text-align: center;
  float: right;
  width: 70%;
  height: 30px;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #454645;
  color: white;
  border: inset black 3px; 
  text-decoration: none;
  padding-top: 15px; 
}

#buttonModificarEfectivoPolicia:hover{
  background-color: #787978;
  border: outset black 3px;
}

#buttonAltaEfectivoPolicia{
  text-align: center;
  float: left;
  width: 70%;
  height: 30px;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #454645;
  color: white;
  border: inset black 3px; 
  text-decoration: none;
  padding-top: 15px;
}

#buttonAltaEfectivoPolicia:hover{
  background-color: #787978;
  border: outset black 3px;
}

#buttonBajaEfectivoPolicia{
  text-align: center;
  float: left;
  width: 70%;
  height: 30px;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #454645;
  color: white;
  border: inset black 3px; 
  text-decoration: none;
  padding-top: 15px; 
}

#buttonBajaEfectivoPolicia:hover{
  background-color: #787978;
  border: outset black 3px;
}

/*------------BUSQUEDA DE EFECTIVOS---------*/
#policiaEfectivoBusqueda{
  color: black;
  display: none;
}

#buscadorEfectivoPolicia{
  padding-top: 30px;
}

#datosBusquedaEfectivoPolicia{
  display: none;
}

/*---------------ALTA EFECTIVO------------*/
#policiaEfectivoAlta{
  color: black;
  display: none;
}

#formularioAltaPoliciaEfectivo{
  padding-top: 30px;
  padding-left: 50px;
}

/*-------------MODIFICAR EFECTIVO------------*/
#policiaEfectivoModificacion{
  color: black;
  display:none;
}

#formularioModificacionEfectivoPolicia{
  display: none;
}

/*---------------BAJA EFECTIVO---------------*/
#policiaEfectivoBaja{
  color: black;
  display: none;
}

#datosBajaPoliciaEfectivo{
  display: none;
}

/*---------POLICIAS ADMINISTRATIVO--------------*/
#policiaAdministrativoInicio{
  color: black; 
  display: none;
}

#buttonAdministrativoPolicia1{
  padding-top: 150px;
}

#buttonAdministrativoPolicia2{
  padding-top: 20px;
}

#buttonBuscarAdministrativoPolicia{
  text-align: center;
  float: right;
  width: 70%;
  height: 30px;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #454645;
  color: white;
  border: inset black 3px; 
  text-decoration: none;
  padding-top: 15px;
}

#buttonBuscarAdministrativoPolicia:hover{
  background-color: #787978;
  border: outset black 3px;
}

#buttonModificarAdministrativoPolicia{
  text-align: center;
  float: right;
  width: 70%;
  height: 30px;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #454645;
  color: white;
  border: inset black 3px; 
  text-decoration: none;
  padding-top: 15px; 
}

#buttonModificarAdministrativoPolicia:hover{
  background-color: #787978;
  border: outset black 3px;
}

#buttonAltaAdministrativoPolicia{
  text-align: center;
  float: left;
  width: 70%;
  height: 30px;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #454645;
  color: white;
  border: inset black 3px; 
  text-decoration: none;
  padding-top: 15px;
}

#buttonAltaAdministrativoPolicia:hover{
  background-color: #787978;
  border: outset black 3px;
}

#buttonBajaAdministrativoPolicia{
  text-align: center;
  float: left;
  width: 70%;
  height: 30px;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #454645;
  color: white;
  border: inset black 3px; 
  text-decoration: none;
  padding-top: 15px; 
}

#buttonBajaAdministrativoPolicia:hover{
  background-color: #787978;
  border: outset black 3px;
}

/*------------BUSQUEDA DE ADMINISTRATIVO---------*/
#policiaAdministrativoBusqueda{
  color: black;
  display: none;
}

#buscadorAdministrativoPolicia{
  padding-top: 30px;
}

#datosBusquedaAdministrativoPolicia{
  display: none;
}

/*---------------ALTA ADMINISTRATIVO------------*/
#policiaAdministrativoAlta{
  color: black;
  display: none;
}

#formularioAltaPoliciaAdministrativo{
  padding-top: 30px;
  padding-left: 50px;
}

/*-------------MODIFICAR ADMINISTRATIVO------------*/
#policiaAdministrativoModificacion{
  color: black;
  display:none;
}

#formularioModificacionAdministrativoPolicia{
  display: none;
}

/*---------------BAJA ADMINISTRATIVO---------------*/
#policiaAdministrativoBaja{
  color: black;
  display: none;
}

#datosBajaPoliciaAdministrativo{
  display: none;
}

/*------------TRASLADO---------------*/
#trasladoInicio{
  color: black; 
  display: none;
}

#formularioTraslado{
  display: none;
  color: black;
  padding-top:10px;
  padding-left: 10px;
}

/*-----------EQUIPAMIENTO-------------*/
#equipamientoInicio{
  color: black; 
  display: none;
}

#buttonEquipamiento1{
  padding-top: 150px;
}

#buttonEquipamiento2{
  padding-top: 20px;
}

#buttonArticulosEquipamiento{
  text-align: center;
  width: 66%;
  float: left;
  height: 30px;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #454645;
  color: white;
  border: inset black 3px; 
  text-decoration: none;
  padding-top: 15px; 
}

#buttonArticulosEquipamiento:hover{
  background-color: #787978;
  border: outset black 3px;
}

#buttonArmamentosEquipamiento{
  text-align: center;
  float: right;
  width: 70%;
  height: 30px;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #454645;
  color: white;
  border: inset black 3px; 
  text-decoration: none;
  padding-top: 15px; 
}

#buttonArmamentosEquipamiento:hover{
  background-color: #787978;
  border: outset black 3px;
}

#buttonMunicionesEquipamiento{
  text-align: center;
  float: left;
  width: 70%;
  height: 30px;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #454645;
  color: white;
  border: inset black 3px; 
  text-decoration: none;
  padding-top: 15px; 
}

#buttonMunicionesEquipamiento:hover{
  background-color: #787978;
  border: outset black 3px;
}

/*-----------ARTICULOS-------------*/
#articuloInicio{
  color: black; 
  display: none;
}

#buttonArticulo1{
  padding-top: 150px;
}

#buttonArticulo2{
  padding-top: 20px;
}

#buttonBusquedaArticulos{
  text-align: center;
  float: right;
  width: 70%;
  height: 30px;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #454645;
  color: white;
  border: inset black 3px; 
  text-decoration: none;
  padding-top: 15px; 
}

#buttonBusquedaArticulo:hover{
  background-color: #787978;
  border: outset black 3px;
}

#buttonMoficacionArticulo{
  text-align: center;
  float: left;
  width: 70%;
  height: 30px;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #454645;
  color: white;
  border: inset black 3px; 
  text-decoration: none;
  padding-top: 15px; 
}

#buttonMoficacionArticulo:hover{
  background-color: #787978;
  border: outset black 3px;
}

#buttonAltaArticulo{
  text-align: center;
  float: right;
  width: 70%;
  height: 30px;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #454645;
  color: white;
  border: inset black 3px; 
  text-decoration: none;
  padding-top: 15px; 
}

#buttonAltaArticulo:hover{
  background-color: #787978;
  border: outset black 3px;
}

#buttonBajaArticulo{
  text-align: center;
  float: left;
  width: 70%;
  height: 30px;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #454645;
  color: white;
  border: inset black 3px; 
  text-decoration: none;
  padding-top: 15px; 
}

#buttonBajaArticulo:hover{
  background-color: #787978;
  border: outset black 3px;
}

/*------------BUSQUEDA ARTICULOS-----------*/
#articuloBusqueda{
  color: black;
  display: none;
}

#buscadorArticulo{
  padding-top: 30px;
}

#datosBusquedaArticulo{
  display: none;
}

/*---------------ALTA ARTICULO------------*/
#articuloAlta{
  color: black;
  display: none;
}

#formularioAltaArticulo{
  padding-top: 30px;
  padding-left: 50px;
}

/*---------------BAJA ARTICULO---------------*/
#articuloBaja{
  color: black;
  display: none;
}

#datosBajaArticulo{
  display: none;
}

/*-------------MODIFICAR ARTICULO------------*/
#articuloModificacion{
  color: black;
  display:none;
}

#formularioModificacionArticulo{
  display: none;
}

/*-----------MUNICIONES-------------*/
#municionInicio{
  color: black; 
  display: none;
}

#buttonMunicion1{
  padding-top: 150px;
}

#buttonMunicion2{
  padding-top: 20px;
}

#buttonBusquedaMunicion{
  text-align: center;
  float: right;
  width: 70%;
  height: 30px;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #454645;
  color: white;
  border: inset black 3px; 
  text-decoration: none;
  padding-top: 15px; 
}

#buttonBusquedaMunicion:hover{
  background-color: #787978;
  border: outset black 3px;
}

#buttonMoficacionMunicion{
  text-align: center;
  float: left;
  width: 70%;
  height: 30px;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #454645;
  color: white;
  border: inset black 3px; 
  text-decoration: none;
  padding-top: 15px; 
}

#buttonMoficacionMunicion:hover{
  background-color: #787978;
  border: outset black 3px;
}

#buttonAltaMunicion{
  text-align: center;
  float: right;
  width: 70%;
  height: 30px;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #454645;
  color: white;
  border: inset black 3px; 
  text-decoration: none;
  padding-top: 15px; 
}

#buttonAltaMunicion:hover{
  background-color: #787978;
  border: outset black 3px;
}

#buttonBajaMunicion{
  text-align: center;
  float: left;
  width: 70%;
  height: 30px;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #454645;
  color: white;
  border: inset black 3px; 
  text-decoration: none;
  padding-top: 15px; 
}

#buttonBajaMunicion:hover{
  background-color: #787978;
  border: outset black 3px;
}

/*------------BUSQUEDA MUNICIONES-----------*/
#municionBusqueda{
  color: black;
  display: none;
}

#buscadorMunicion{
  padding-top: 30px;
}

#datosBusquedaMunicion{
  display: none;
}

/*---------------ALTA MUNICIONES------------*/
#municionAlta{
  color: black;
  display: none;
}

#formularioAltaMunicion{
  padding-top: 30px;
  padding-left: 50px;
}

/*---------------BAJA MUNICIONES---------------*/
#municionBaja{
  color: black;
  display: none;
}

#datosBajaMunicion{
  display: none;
}

/*-------------MODIFICAR MUNICION------------*/
#municionModificacion{
  color: black;
  display:none;
}

#formularioModificacionMunicion{
  display: none;
}

/*-----------ARMAMENTO-------------*/
#armamentoInicio{
  color: black; 
  display: none;
}

#buttonArmamento1{
  padding-top: 150px;
}

#buttonArmamento2{
  padding-top: 20px;
}

#buttonBusquedaArmamento{
  text-align: center;
  float: right;
  width: 70%;
  height: 30px;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #454645;
  color: white;
  border: inset black 3px; 
  text-decoration: none;
  padding-top: 15px; 
}

#buttonBusquedaArmamento:hover{
  background-color: #787978;
  border: outset black 3px;
}

#buttonMoficacionArmamento{
  text-align: center;
  float: left;
  width: 70%;
  height: 30px;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #454645;
  color: white;
  border: inset black 3px; 
  text-decoration: none;
  padding-top: 15px; 
}

#buttonMoficacionArmamento:hover{
  background-color: #787978;
  border: outset black 3px;
}

#buttonAltaArmamento{
  text-align: center;
  float: right;
  width: 70%;
  height: 30px;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #454645;
  color: white;
  border: inset black 3px; 
  text-decoration: none;
  padding-top: 15px; 
}

#buttonAltaArmamento:hover{
  background-color: #787978;
  border: outset black 3px;
}

#buttonBajaArmamento{
  text-align: center;
  float: left;
  width: 70%;
  height: 30px;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #454645;
  color: white;
  border: inset black 3px; 
  text-decoration: none;
  padding-top: 15px; 
}

#buttonBajaArmamento:hover{
  background-color: #787978;
  border: outset black 3px;
}

/*------------BUSQUEDA ARMAMENTO-----------*/
#aramentoBusqueda{
  color: black;
  display: none;
}

#buscadorArmamento{
  padding-top: 30px;
}

#datosBusquedaArmamento{
  display: none;
}

/*---------------ALTA ARMAMENTO------------*/
#armamentoAlta{
  color: black;
  display: none;
}

#formularioAltaArmamento{
  padding-top: 30px;
  padding-left: 50px;
}

/*---------------BAJA ARMAMENTO---------------*/
#ArmamentoBaja{
  color: black;
  display: none;
}

#datosBajaArmamento{
  display: none;
}

/*-------------MODIFICAR ARMAMENTO------------*/
#armamentoModificacion{
  color: black;
  display:none;
}

#formularioModificacionArmamento{
  display: none;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.bs-docs-sidenav {
  width: 228px;
  margin: 30px 0 0;
  padding: 0;
  background-color: #0F402A;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.bs-docs-sidenav > li > a {
  display: block;
  width: 190px \9;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid black;
}
.bs-docs-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,0), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
/* Chevrons */
.bs-docs-sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.bs-docs-sidenav > li > a:hover {
  background-color: #0D84CF;
  border: 1px block black;
  color: white;
}
.bs-docs-sidenav a:hover .icon-chevron-right {
  opacity: .5;
}
.bs-docs-sidenav .active .icon-chevron-right,
.bs-docs-sidenav .active a:hover .icon-chevron-right {
  background-image: url(../img/glyphicons-halflings-white.png);
  opacity: 1;
}
.bs-docs-sidenav.affix {
  top: 40px;
}
.bs-docs-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}

















